################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WordUnscrambler/v16
/packages
/WordUnscrambler/obj
